[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
markdown = "*"
psycopg2 = "*"
python-dotenv = "*"
cryptography = "*"
drf-jwt = "*"
pyjwt = "*"
requests = "*"
drf-nested-routers = "*"
drf-yasg = "*"
channels = "*"
channels-redis = "*"
django-storages = "*"
daphne = "*"
django-cors-headers = "*"
django-admin-relation-links = "*"

[dev-packages]

[requires]
python_version = "3.8"
